:valid {
  --tokyonight-foreground: #c0caf5;
  --tokyonight-background: #1a1b26;
  --tokyonight-black: #15161E;
  --tokyonight-red: #f7768e;
  --tokyonight-green: #9ece6a;
  --tokyonight-yellow: #e0af68;
  --tokyonight-blue: #7aa2f7;
  --tokyonight-magenta: #bb9af7;
  --tokyonight-cyan: #7dcfff;
  --tokyonight-white: #a9b1d6;
  --tokyonight-bright_black: #414868;
  --tokyonight-bright_red: #f7768e;
  --tokyonight-bright_green: #9ece6a;
  --tokyonight-bright_yellow: #e0af68;
  --tokyonight-bright_blue: #7aa2f7;
  --tokyonight-bright_magenta: #bb9af7;
  --tokyonight-bright_cyan: #7dcfff;
  --tokyonight-bright_white: #c0caf5;
  --nord-foreground: #d8dee9;
  --nord-background: #2e3440;
  --nord-black: #3b4252;
  --nord-red: #bf616a;
  --nord-green: #a3be8c;
  --nord-yellow: #ebcb8b;
  --nord-blue: #81a1c1;
  --nord-magenta: #b48ead;
  --nord-cyan: #88c0d0;
  --nord--tokyonight-white: #e5e9f0;
  --nord-bright_black: #4c566a;
  --nord-bright_red: #bf616a;
  --nord-bright_green: #a3be8c;
  --nord-bright_yellow: #ebcb8b;
  --nord-bright_blue: #81a1c1;
  --nord-bright_magenta: #b48ead;
  --nord-bright_cyan: #8fbcbb;
  --nord-bright_white: #eceff4;
};
