/* Simple color names */
@define-color bgdark   #15161E;
@define-color bggrey   #414868;
@define-color text      #c0caf5;
@define-color lightblue #7aa2f7;
@define-color darkblue  #7aa2f7;
@define-color red       #f7768e;
@define-color orange    #e0af68;
@define-color yellow    #e0af68;
@define-color green     #9ece6a;
@define-color purple    #bb9af7;

* {
  font-size: 24;
  font-family: 'Fira Code Nerd Font Mono', 'Font Awesome 5 Free';
}

:hover {
  background: @bggrey;
}

window#waybar {
  color: @lightblue;
  background: transparent;
}

/* Base styling for modules */
#workspaces,
#mode,
#window,
#idle_inhibitor,
#bluetooth,
#pulseaudio,
#clock,
#battery,
#backlight,
#network,
#custom-separator,
#custom-shutdown,
#custom-menu,
#taskbar,
#tray {
  padding: 0px 11px 0px 11px;
  background: @bgdark;
  border-radius: 5px;
  border: 1px solid @green;
}

#custom-shutdown {
  color: @bggrey;
  background: @red;
  border: none;
}

#custom-menu {
  color: @bggrey;
  background: @purple;
  border: none;
}

#custom-separator {
  opacity: 0;
  padding: 0px;
}

#custom-menu {
  margin-left: 5px;
}
#workspaces {
  padding: 0px;
}

#workspaces button {
  color: @orange;
  border-radius: 5px;
  margin: 0;
  padding: 0px 0px 0px 0px;
}

#workspaces button.persistent {
  color: @lightblue;
}

#workspaces button.focused {
  background-color: @bggrey;
}

#mode {
  color: @red;
}

#custom-shutdown {
  margin-right: 5px;
}

#battery.warning {
  color: @yellow;
}

#battery.critical {
  color: @orange;
}

#taskbar button {
  color: @purple;
  border-radius: 5px;
  margin: 0;
}
#taskbar button.active {
  background-color: @bggrey;
}

#taskbar {
  padding: 0px;
}
